{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <h1>{{ title }}</h1>
        <p>Você está criando uma nova mutação a partir do material <strong>{{ origin_material.name }} ({{ origin_material.get_display_code }})</strong>.</p>

        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <div class="help">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Criar Mutante" class="default">
        </div>
    </form>
</div>
{% endblock %}
